@font-face {
    font-family: "pixF";
    src: url("fonts/pixelated(converted).woff") format("woff");
}

body {
  font-family: pixF;
}

.center {
  text-align: center;
}

canvas {
    /*padding-left: 0;
    padding-right: 0;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}
